<%- include ../partials/header %>

<h1>TODO PAGE</h1>

<ul>
  <% todos.forEach((todo) => { %>
  <li>
    <span>
      <form action='/todos/<%=todo._id%>?_method=DELETE' method='POST' style='display: inline-block;'>
        <a href="#" onclick="this.parentNode.submit()">X</a>
      </form>
    </span>
    <em><%= todo.todo %></em> - <%= todo.dueDate.toDateString() %>
  </li>
  <% }) %>
</ul>

<a href='/todos/new'>MAKE TODO</a>

<%- include ../partials/footer %>
